.App {
  margin: 3rem auto;
  max-width: 35rem;
  height: auto;
  .form-control-sm {
    height: 2.5rem;
  }
  .main {
    padding: 1rem;
    border: 5px white solid;
    border-radius: 1rem;
    background-color: #eee;
    
    &__search-filter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 3rem;
      padding: 0.25rem 0;
    }
  }
}
